<div class="container">
    <div class="row justify-content-center h-100">
        <div class="col-md-9">
            <div class="card">
                <div class="row no-gutters align-items-center">
                    <div class="col-7 d-flex">
                        <div class="yoga-cloud pt-3">
                            <div class="logo text-center">
                                <img src="assets/logo/logo-500x700.png" style="width: 200px; margin-top: 100px;"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="py-5 pr-5">
                            <app-form-signin></app-form-signin>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
