<form class="d-flex flex-column flex-fill" novalidate [formGroup]="formCreate" (ngSubmit)="create(formCreate.value, formCreate.valid)">
    <div class="modal-header align-items-center">
        <h4 class="modal-title mr-auto">Create New Recording</h4>
        <a href="javascript:;" (click)="bsModalRef.hide()">
            <svg class="icon fill-gray-300" viewBox="0 0 24 24">
                <path d="M13.46,12L19,17.54V19H17.54L12,13.46L6.46,19H5V17.54L10.54,12L5,6.46V5H6.46L12,10.54L17.54,5H19V6.46L13.46,12Z" stroke="none" />
            </svg>
        </a>
    </div>
    <div class="scrollable scrollable-y">
        <div class="scrollable-main">
            <div class="scrollable-content">
                <div class="modal-body">
                    <div class="mb-3" *ngIf="error$ | async">
                        <app-alert [type]="'danger'" [message]="(error$ | async)?.message"></app-alert>
                    </div>

                    <p class="small text-uppercase text-info mb-3">Artist Information</p>

                    <div style="margin-bottom: 24px">
                        <span class="font-weight-bold text-danger">*</span>
                        <span class="small font-weight-normal text-danger"> is required field</span>
                    </div>

                    <div class="form-group">
                        <label>Unique identifer</label>
                        <input type="text" class="form-control" formControlName="artistId">
                    </div>

                    <div class="form-group">
                        <label>Name</label><span class="font-weight-bold text-danger">*</span>
                        <input type="text" class="form-control" formControlName="name">
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" formControlName="description" rows="4" cols="50"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Genres</label><span class="font-weight-bold text-danger">*</span>
                        <div class="bg-light" formArrayName="genres" *ngFor="let genre of genres; let i = index" style="margin-left: 24px">
                            <label class="text-secondary">
                                <input type="checkbox" [formControlName]="i"> {{ genre }}
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Website</label>
                        <input type="text" class="form-control" formControlName="website">
                    </div>

                    <!-- <div class="form-group">
                        <label>Big Picture</label>
                        <app-uploader fileType="image" fieldName="big-picture"></app-uploader>
                    </div> -->

                    <!-- <div class="form-group">
                        <label>Small Picture</label>
                        <app-uploader fileType="image" fieldName="small-picture"></app-uploader>
                    </div> -->
    

                    <p class="small text-uppercase text-info mb-3 mt-5">Song Information</p>
                    <div class="form-group">
                        <label>Unique identifer</label>
                        <input type="text" class="form-control" formControlName="songId">
                    </div>

                    <div class="form-group">
                        <label>Title</label><span class="font-weight-bold text-danger">*</span>
                        <input type="text" class="form-control" formControlName="songTitle">
                    </div>

                    <div class="form-group">
                        <label>Genres</label><span class="font-weight-bold text-danger">*</span>
                        <div class="bg-light" formArrayName="songGenres" *ngFor="let genre of songGenres; let i = index" style="margin-left: 24px">
                            <label class="text-secondary">
                                <input type="checkbox" [formControlName]="i"> {{ genre }}
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Text</label>
                        <textarea class="form-control" formControlName="songText" rows="4" cols="50"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Song</label>
                        <app-uploader fileType="music" fieldName="song"></app-uploader>
                    </div>

                    <!-- <div class="form-group">
                        <label>Haptic sound</label>
                        <app-uploader fileType="music" fieldName="haptic"></app-uploader>
                    </div> -->
    
                    <div class="form-group">
                        <label>Venue</label><span class="font-weight-bold text-danger">*</span>
                        <ng-select placeholder="Select Venue" formControlName="songVenues"
                            [searchable]="true"
                            [multiple]="true"
                            [clearable]="false"
                        >
                            <ng-option *ngFor="let venue of venues" [value]="venue.key">{{ venue.value.name }}</ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-link text-body" (click)="bsModalRef.hide()">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="isLoading || formCreate.invalid">
            <app-spinner [ngClass]="{'active': isLoading}">Create Recording</app-spinner>
        </button>
    </div>
</form>

