// stylelint-disable selector-no-qualifying-type

@import "~bootstrap-scss/buttons";

.btn-icon {
  padding: $input-btn-padding-y;
}

.btn-file {
  position: relative;

  > input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
  }
}
