//
// Overlay
//


//
// Base class

.overlay {
  position: relative;
  display: block;
  margin-bottom: $spacer;

  // Panel inside overlay
  .card,
  .card & {
    margin-bottom: 0;
  }
}


//
// Overlay body

.overlay-body {
  padding: $spacer;
}


//
// Overlay modal

.overlay-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  // display: none;
  width: 100%;
  height: 100%;
  padding: $spacer;
  // color: text-color-base(#fff);
  background-color: rgba(#fff, .85);
  border-radius: inherit;

  &.bgcolor-fade-2x {
    background-color: rgba(#fff, .65);
  }
}
